@font-face {
  font-family: FredokaOne;
  src: url('src/Font.ttf');
}

body{
  background-color: #222;
  overflow: hidden;
}

.imgCon{
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

#pic{
  width: 12.5em;
  height: 18.75em;
  border-radius: 12px;
}

#text{
  font-family: FredokaOne;
  display: flex;
  justify-content: center;
  font-size: 1.625em;
  color: #9c86dc
}

#noTake{
  font-family: FredokaOne;
  font-size: 1em;
  color: #a2e599;
  background-color: rgb(39, 39, 39);
  padding: 0.9375em 1.5em;
  margin-right: 0.75em;
  border: none;
  border-radius: 0.875em;
}


#Take{
  font-family: FredokaOne;
  font-size: 1em;
  color: #f1818b;
  background-color: rgb(39, 39, 39);
  padding: 0.9375em 1.5em;
  margin-left: 0.75em;
  border: none;
  border-radius: 0.875em;
}

#noTake:hover{
  background-color: rgb(68, 68, 68);
}

#Take:hover{
  background-color: rgb(68, 68, 68);
}

.rrCon{
  position: absolute;
  bottom: -0.625em;
  left: 0.625em;
}

#RR{
  font-family: FredokaOne;
  font-size: 1.25em;
  color: #f0f2ef;
}

.mobileCopy p {
  position: relative;
  text-align: right;
  top: 15em;
}